<a routerLink="/video/{{petitVideo.id}}">
  <div class="petit-video">
    <img
      [src]="petitVideo.url_image"
      [alt]="petitVideo.nom"
      [ngClass]="{
        high_score: petitVideo.score > 5000,
        low_score: petitVideo.score < -5000
      }"
    />
    <div class="wrapper-infos">
      <h3>{{ petitVideo.nom }}</h3>
      <app-utilisateur
        [utilisateur]="petitVideo.auteur || {}"
      ></app-utilisateur>
      <p>{{ petitVideo.duree | duree }}</p>
      <div class="wrapper_vues-date">
        <p>{{ petitVideo.nombre_vues | vues }}</p>
        •
        <p>{{ petitVideo.date_publication }}</p>
      </div>
    </div>
  </div></a
>
