.layout-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4rem;
}

app-entete {
  display: block;
}

.main-content {
  margin-top: 4rem;
}

app-menu-aside {
  margin-top: 4rem;
  background-color: rgb(236, 236, 236);
  padding: 2rem;
}

app-categories {
  display: inline-block;
  margin-top: 4rem;
}

/* app-liste-petits-videos {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
} */

/* app-video-complet {
  margin-top: 4rem;
  background-color: rgb(236, 236, 236);
  padding-inline: 2rem;
} */