<form class="formulaire" #videoForm="ngForm">
  <mat-form-field>
    <mat-label>Nom de la vidéo</mat-label>
    <input
      matInput
      type="text"
      placeholder="Comment s'intitule votre vidéo?"
      minlength="3"
      maxlength="100"
      [(ngModel)]="video.nom"
      name="nomVideo"
      id="nomVideo"
      #nomVideo="ngModel"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
    <div
      *ngIf="nomVideo.invalid && (nomVideo.dirty || nomVideo.touched)"
      class="error"
    >
      <div *ngIf="nomVideo.errors?.['required']">
        Le nom de la vidéo est obligatoire
      </div>
      <div
        *ngIf="(nomVideo.errors?.['minlength'] || nomVideo.errors?.['maxlength'] )"
      >
        Le nom de la vidéo doit contenir entre 3 et 30 caractères.
      </div>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Décrivez le contenu de votre vidéo"
      [(ngModel)]="video.description"
      name="descriptionVideo"
      (keyup.enter)="addVideo(videoForm)"
    ></textarea>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Catégories </mat-label>
    <mat-chip-grid #chipGridCategories>
      <mat-chip-row
        *ngFor="let categorie of categoriesChoisies"
        (removed)="retirer(categorie)"
      >
        {{ categorie }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="Catégorie..."
      name="input_categories"
      [(ngModel)]="input_categories"
      [matChipInputFor]="chipGridCategories"
      [matAutocomplete]="auto"
      (ngModelChange)="filtrer()"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="ajouter($event)"
    >
      <mat-option
        *ngFor="let option of listeCategoriesFiltrees"
        [value]="option"
        >{{ option }}</mat-option
      >
    </mat-autocomplete>
  </mat-form-field> -->

  <mat-form-field>
    <mat-label>Code</mat-label>
    <input
      matInput
      type="text"
      placeholder="Quel est le code de votre vidéo?"
      [(ngModel)]="video.code"
      name="codeVideo"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de publication</mat-label>
    <input
      matInput
      type="text"
      id="dateVideo"
      [matDatepicker]="picker"
      [(ngModel)]="video.date_publication"
      name="dateVideo"
      #dateVideo="ngModel"
      required
      [min]="minDate"
      (keyup.enter)="addVideo(videoForm)"
    />

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <div
      *ngIf="dateVideo.invalid && (dateVideo.dirty || dateVideo.touched)"
      class="error"
    >
      <div *ngIf="dateVideo.errors?.['required']">
        La date de la vidéo est obligatoire.
      </div>
      <div *ngIf="dateVideo.errors?.['min']">
        La date de la vidéo doit être supérieure ou égale à la date du jour.
      </div>
    </div>
  </mat-form-field>

  <mat-label>Durée (secondes)</mat-label>
  <mat-slider min="1" max="1000" step="1" discrete>
    <input
      matSliderThumb
      [(ngModel)]="video.duree"
      name="dureeVideo"
      id="dureeVideo"
      #dureeVideo="ngModel"
      required
      (keyup.enter)="addVideo(videoForm)"
    />
  </mat-slider>
  <div
    *ngIf="dureeVideo.invalid && (dureeVideo.dirty || dureeVideo.touched)"
    class="error"
  >
    <div *ngIf="dureeVideo.errors?.['required']">
      La durée de la vidéo est obligatoire.
    </div>
    <div *ngIf="(dureeVideo.errors?.['min'] || dureeVideo.errors?.['max'] )">
      La vidéo doit avoir une durée comprise entre 1 et 1000 secondes.
    </div>
  </div>

  <mat-form-field>
    <mat-label>Sous-titres</mat-label>
    <select
      matNativeControl
      [(ngModel)]="video.sous_titres"
      name="sous_titresitresVideo"
      (keyup.enter)="addVideo(videoForm)"
      required
    >
      <option value="aucun">Aucun</option>
      <option value="ss">Sous-titres</option>
      <option value="cc">Sous-titrage pour sourds et malentendants</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>URL de l'image</mat-label>
    <input
      matInput
      type="text"
      placeholder="Quelle est l'URL de l'image de votre vidéo?"
      [(ngModel)]="video.url_image"
      name="url_image"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Score</mat-label>
    <input
      matInput
      type="number"
      placeholder=""
      [(ngModel)]="video.score"
      name="score"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field> -->

  <!-- <mat-form-field>
    <mat-label>Nombre de vues</mat-label>
    <input
      matInput
      type="number"
      placeholder=""
      [(ngModel)]="video.nombre_vues"
      name="nombre_vues"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field> -->

  <!--  <mat-form-field>
    <mat-label>Catégories</mat-label>
    <input
      matInput
      type="text"
      placeholder=""
      [(ngModel)]="video.categories"
      name="categories"
      (keyup.enter)="addVideo(videoForm)"
    />
  </mat-form-field> -->

  <!-- <mat-form-field>
    <mat-label>Nom auteur</mat-label>
    <input
      matInput
      type="text"
      placeholder=""
      [(ngModel)]="video.auteur.nom_auteur"
      name="nombre_auteur"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      matInput
      type="text"
      placeholder=""
      [(ngModel)]="video.auteur.description_auteur"
      name="description_auteur"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vérifié</mat-label>
    <input
      matInput
      type="number"
      placeholder=""
      [(ngModel)]="video.auteur.verifie"
      name="verifie"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Utilisateur</mat-label>
    <input
      matInput
      type="text"
      placeholder=""
      [(ngModel)]="video.auteur.utilisateur"
      name="utilisateur"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field> -->
  <button
    *ngIf="video.id; else boutonAjout"
    mat-raised-button
    mat-aria-label="Ajouter"
    color="primary"
    [disabled]="!videoForm.form.valid"
    (click)="updateVideo(videoForm)"
  >
    Modifier
  </button>
  <ng-template #boutonAjout>
    <button
      mat-raised-button
      mat-aria-label="Ajouter"
      color="primary"
      [disabled]="!videoForm.form.valid"
      (click)="addVideo(videoForm)"
    >
      Ajouter
    </button>
  </ng-template>

  <button mat-button mat-aria-label="Annuler" (click)="annuler()">
    Annuler
  </button>
</form>
