<form class="formulaire" #videoForm="ngForm">
  <mat-form-field>
    <mat-label>Nom de la vidéo</mat-label>
    <input
      matInput
      type="text"
      placeholder="Comment s'intitule votre vidéo?"
      minlength="3"
      maxlength="100"
      [(ngModel)]="video.nom"
      name="nomVideo"
      id="nomVideo"
      #nomVideo="ngModel"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
    <div
      *ngIf="nomVideo.invalid && (nomVideo.dirty || nomVideo.touched)"
      class="error"
    >
      <div *ngIf="nomVideo.errors?.['required']">
        Le nom de la vidéo est obligatoire.
      </div>
      <div
        *ngIf="(nomVideo.errors?.['minlength'] || nomVideo.errors?.['maxlength'] )"
      >
        Le nom de la vidéo doit contenir entre 3 et 100 caractères.
      </div>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Décrivez le contenu de votre vidéo..."
      [(ngModel)]="video.description"
      name="descriptionVideo"
      id="descriptionVideo"
      (keyup.enter)="addVideo(videoForm)"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Code</mat-label>
    <input
      matInput
      type="text"
      placeholder="Quel est le code de votre vidéo? Format: 123ABC"
      [(ngModel)]="video.code"
      name="codeVideo"
      id="codeVideo"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de publication</mat-label>
    <input
      matInput
      placeholder="Quelle est la date de publication de votre vidéo?"
      type="text"
      id="dateVideo"
      [matDatepicker]="picker"
      [(ngModel)]="video.date_publication"
      name="dateVideo"
      #dateVideo="ngModel"
      required
      [min]="!video.id ? minDate : null"
      (keyup.enter)="addVideo(videoForm)"
    />

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <div
      *ngIf="dateVideo.invalid && (dateVideo.dirty || dateVideo.touched)"
      class="error"
    >
      <div *ngIf="dateVideo.errors?.['required']">
        La date de la vidéo est obligatoire.
      </div>
      <div *ngIf="dateVideo.errors?.['min']">
        La date de la vidéo doit être supérieure ou égale à la date du jour.
      </div>
    </div>
  </mat-form-field>

  <mat-label>Durée ({{ video.duree }} secondes) </mat-label>
  <mat-slider min="1" max="8000" step="1" discrete>
    <input
      matSliderThumb
      [(ngModel)]="video.duree"
      name="dureeVideo"
      id="dureeVideo"
      #dureeVideo="ngModel"
      required
      (keyup.enter)="addVideo(videoForm)"
    />
  </mat-slider>
  <div
    *ngIf="dureeVideo.invalid && (dureeVideo.dirty || dureeVideo.touched)"
    class="error"
  >
    <div *ngIf="dureeVideo.errors?.['required']">
      La durée de la vidéo est obligatoire.
    </div>
    <div *ngIf="(dureeVideo.errors?.['min'] || dureeVideo.errors?.['max'] )">
      La vidéo doit avoir une durée comprise entre 1 et 8 000 secondes.
    </div>
  </div>

  <mat-form-field>
    <mat-label>Sous-titres</mat-label>
    <select
      matNativeControl
      [(ngModel)]="video.sous_titres"
      name="sous_titresVideo"
      (keyup.enter)="addVideo(videoForm)"
    >
      <option value="">Aucun</option>
      <option value="ss">Sous-titres</option>
      <option value="cc">Sous-titrage pour sourds et malentendants</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>URL de l'image</mat-label>
    <input
      matInput
      type="text"
      placeholder="Quelle est l'URL de l'image de votre vidéo?"
      [(ngModel)]="video.url_image"
      name="url_image"
      (keyup.enter)="addVideo(videoForm)"
      required
    />
  </mat-form-field>

  <div class="wrapper-buttons">
    <button
      *ngIf="video.id; else boutonAjout"
      mat-raised-button
      mat-aria-label="Modifier"
      color="primary"
      [disabled]="!videoForm.form.valid"
      (click)="updateVideo(videoForm)"
    >
      Modifier
    </button>
    <ng-template #boutonAjout>
      <button
        mat-raised-button
        mat-aria-label="Ajouter"
        color="primary"
        [disabled]="!videoForm.form.valid"
        (click)="addVideo(videoForm)"
      >
        Ajouter
      </button>
    </ng-template>

    <button mat-button mat-aria-label="Annuler" (click)="annuler()">
      Annuler
    </button>
  </div>
</form>
