<nav>
  <ul class="menu">
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Accueil"
        fontIcon="home"
      ></mat-icon
      ><a href="#">Accueil</a>
    </li>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Favoris"
        fontIcon="stars"
      ></mat-icon
      ><a href="#">Favoris</a>
    </li>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Historique"
        fontIcon="history"
      ></mat-icon
      ><a href="#">Historique</a>
    </li>
  </ul>
</nav>
