.wrapper-user {
  display: flex;
  flex-direction: column;
}

.user-verified {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-verified p {
  font-weight: bold;
}

.username {
  font-size: 0.8rem;
}

.material-icons {
  font-size: 1rem;
}

.mat-icon {
  height: 1rem;
  width: 1rem;
}

.user-entete {
  background-color: rgb(236, 236, 236);
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-left: auto;
}
