<div [ngClass]="{ 'user-entete': userHeaderClass }" class="wrapper-user">
  <div>
    <div class="user-verified">
      <p>{{ utilisateur.nom_auteur }}</p>
      <div *ngIf="utilisateur.verifie">
        <mat-icon
          aria-hidden="false"
          aria-label="Utilisateur vérifié"
          fontIcon="check_circle"
        ></mat-icon>
      </div>
    </div>
    <p class="username">{{ "\u0040" + utilisateur.utilisateur }}</p>
  </div>
  <div *ngIf="showDescription">
    <p>{{ utilisateur.description_auteur }}</p>
  </div>
</div>
